/*
 * Main page layout.
 */
html, body {
    height:100%;
    margin:0;
    padding:0;
}

body {
    color: #888;
    background-color: #353535;
    height: 100%;
}

.main-content {
    overflow: hidden;
}

#page {
    min-height: 100%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#terminal-wrap {
    overflow-y: auto;
    background-color: #2e3436;
    min-height: 100%;
    padding: 1px;
}

#terminal {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
    background-color: #2e3436;
    color: #d3d7cf;
    white-space: pre-wrap;
}

#terminal-activity {
    position: fixed;
    bottom: 5em;
}

#input input {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
}

/*
 * Section with control buttons and navigation pad.
 * Nav pad is hidden on medium and bigger screens.
 */
#overlay {
    position: fixed;
    top: 0;
    right: 25em;
    pointer-events: none;
    z-index: 500;
}

#overlay .btn {
    pointer-events: all;
}

/* Hide nav pad on medium screens. */
.nav-hidden-md {
    display: none;
}

@media only screen and (max-width: 767px) {
    /* Shift buttons closer to the border on narrow screens. Hack. */
    #overlay {
        right: 1em;
    }

    /* Show nav pad on small screens. */
    .nav-hidden-md {
        display: table-row;
    }
}

#nav button {
    width: 2em;
}

#nav td {
    padding: 3px;
}

#nav td span {
    padding: 5px;
    font-weight: bold;
    font-family: monospace;
}

/*
 * Panel on the right-hand side, scrollable vertically.
 */
#panel-wrap {
    overflow-y: auto;
    background-color: transparent;
    border: none;
    margin: 0px;
}

/*
 * Collapsible panels on the right-hand side.
 */
.table-wrapper {
    position: relative;
    background-color: #2e3436;
    margin: 8px 8px 1px 0px;
    border: 1px solid #999;
    padding-bottom: 0.1em;
    padding-left: 0.2em;
    cursor: pointer;
    overflow: hidden;
}

/* Close plus-minus button in the panel corner. */
.table-wrapper .close {
    position: absolute;
    top: 0em;
    right: 0.3em;
}

/* Change icon between plus and minus depending on collapse state. */
.table-wrapper .close:after {
    content: "\2212";
}

.table-wrapper .close.collapsed:after {
    content: "\002B";
}

.table-wrapper table {
    width: 100%;
    cursor: pointer;
}

/* Table containing icons in the first column, like weather&time. */
.table-with-icons table {
    table-layout: fixed;
}

.table-with-icons tr td:first-child {
    width: 10%;
}

.table-with-icons tr td:nth-child(2) {
    padding-left: 10px;
}

td.v-top {
    vertical-align: top;
}
td.v-bottom {
    vertical-align: bottom;
}

.dark-panel-title {
    padding: 5px;
    padding-bottom: 0px;
}

#player-params-table {
    padding-left: 5px;
}

#group td, #group th, #who td, #who th {
    padding-left: 5px;
    padding-right: 5px;
}

#group td span {
    font-weight: 700;
}

#time-weather .wi {
    font-size: 150%;
}

#time-weather .fa {
    font-size: 140%;
}

#time-weather td > i {
    text-align: left;
}

#player-location .fa {
    font-size: 150%;
}

#player-affects .flexcontainer-column {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

#questor-table p {
    padding: 4px 4px 0px 4px;
}

/*
 * Pop-up windows with hints about various layout elements.
 */
.hints .modal-content {
    color: #ddd;
}

/*
 * Draw distinct borders and show space around elements
 * on big screen. Make input box styled as the rest of the
 * page components.
 */
@media only screen and (min-width: 768px) {
    #terminal-wrap {
       padding: 0px 10px 10px 4px;
       margin: 0px 10px 8px 1px;
       border: 1px solid #999;
    }
    #overlay {
       top: 3px;
    }
    form#input {
        border: 1px solid #999;
        margin: 8px 8px 10px 1px;
        background-color: #2e3436;
    }
    form#input input {
        padding: 4px 10px 4px 5px;
        color: #d3d7cf;
        border-color: transparent;
        background-color: transparent;
    }
}

/*
 * Settings and editors modal windows.
 */
#settings-modal  .modal-dialog {
    max-width: 80%;
}

#textedit-modal .modal-dialog {
    max-width: 80%;
}

#cs-modal .modal-dialog {
    max-width: 80%;
}

.btn-ctrl {
    float: right;
    font-size: 1.5em;
    color: grey;
    border-color: grey;
    margin: 1px;
}

.top-right-buttons .btn-ctrl {
    margin: 0 0.2em;
}

.btn-ctrl:hover {
    background-color: lightgrey;
    border-color: lightgrey;
}

.editor {
    height: 70vh;

    background-color: black;
    color: white;
    font-size: 18px;
}

/*
 * Custom definition of flex with all the prefixes defined.
 */
.flexcontainer-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.flex-grow-shrink-auto {
    -webkit-box-flex: 1 1  0%;
    -moz-box-flex:    1 1  0%;
    -webkit-flex:     1 1  0%;
    -ms-flex:         1 1  0%;
    flex:             1 1  0%;
}

.flex-nogrow-shrink-narrow {
    -webkit-box-flex: 0 1 270px;
    -moz-box-flex:    0 1 270px;
    -webkit-flex:     0 1 270px;
    -ms-flex:         0 1 270px;
    flex:             0 1 270px;
}

.flexcontainer-row {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.flexcontainer-column {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
}

/* dark: */
.fg-ansi-dark-color-0, .fgdd { color: #2e3436; } /* background  */
.fg-ansi-dark-color-1, .fgdr { color: #cc0000; } /* r */
.fg-ansi-dark-color-2, .fgdg { color: #4e9a06; } /* g */
.fg-ansi-dark-color-3, .fgdy { color: #c4a000; } /* y */
.fg-ansi-dark-color-4, .fgdb { color: #3465a4; } /* b */
.fg-ansi-dark-color-5, .fgdm { color: #75507b; } /* m */
.fg-ansi-dark-color-6, .fgdc { color: #06989a; } /* c */
.fg-ansi-dark-color-7, .fgdw { color: #d3d7cf; } /* w, d */
/* bright: */
.fg-ansi-bright-color-0, .fgbd { color: #555753; } /* D */
.fg-ansi-bright-color-1, .fgbr { color: #ed2330; } /* R */
.fg-ansi-bright-color-2, .fgbg { color: #8ee34f; } /* G */
.fg-ansi-bright-color-3, .fgby { color: #fdea56; } /* Y */
.fg-ansi-bright-color-4, .fgbb { color: #55a3f2; } /* B */
.fg-ansi-bright-color-5, .fgbm { color: #d384cb; } /* M */
.fg-ansi-bright-color-6, .fgbc { color: #2cf4eb; } /* C */
.fg-ansi-bright-color-7, .fgbw { color: #eeeeec; } /* W */

.fg-ansi-bold {
/*    font-weight: bold; */
}

/*
 * Item manip dropdowns
 */
.dropdown-toggle::after {
    display: none;
}
.dropdown {
    cursor: pointer;
}

.dropdown-toggle:hover {
    text-decoration: underline;
}

/*
 * Text manip decorations for extra descrs: underlined white links.
 */
.manip-ed {
    text-decoration: underline;
    cursor: pointer;
    color: #eeeeec;
}    

/*
 * Commands and hyper links: underlined.
 */
.manip-cmd, .manip-link {
    text-decoration: underline;
    cursor: pointer;
}    

a.manip-link, a.manip-link:hover {
    color: inherit;
}    

/*
 * Status bars
 */
#stats {
    padding: 0 20px;
}

#stats .progress {
    padding: 0;
    color: white;
}

#stats #hits {
    background-color: #bb0000;
}

#stats #mana {
/*    background-color: #0053b3;*/
    background-color: #3465a4;
}

#stats #moves {
    background-color: #055705;
}    

@media only screen and (max-width: 767px) {
    #stats .progress {
        height: 5px;
        color: transparent !important;
    }
}

