/*
 * Main page layout.
 */
html,
body {
  height: 100%;
  max-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #888;
  background-color: #121212;
  width: 100%;
  height: 100%;
}

.main-content {
  overflow: hidden;
  position: relative;
}

#root {
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#page {
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.terminal-wrap {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #121212;
  padding: 1px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.terminal {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3em;
  background-color: #121212;
  color: #d3d7cf;
  white-space: pre-wrap;
}

#input input {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3em;
}

/*
 * Panel on the right-hand side, scrollable vertically.
 */
#panel-wrap {
  overflow-y: auto;
  background-color: transparent;
  border: none;
  margin: 0px;
}

#map-wrap {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #121212;
  padding-top: 3em;
  position: absolute;
  height: 100%;
  width: 100%;
}

#map {
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  background-color: #121212;
  color: #d3d7cf;
  white-space: pre-wrap;
  padding: 1em;
}

#map > pre {
  overflow-y: unset;
  overflow-x: unset;
  margin-bottom: 0;
}

/*
 * Collapsible panels on the right-hand side.
 */
.table-wrapper {
  position: relative;
  background-color: #2e2e2e;
  margin: 0px 5px 10px 0px;
  border: 0px solid #2e2e2e;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(12, 12, 12, 0.6);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(12, 12, 12, 0.6);
  -moz-box-shadow: 0px 5px 10px 0px rgba(12, 12, 12, 0.6);
}

/* Close plus-minus button in the panel corner. */
.table-wrapper .close {
  position: absolute;
  top: 0em;
  right: 0.3em;
}

/* Change icon between plus and minus depending on collapse state. */
.table-wrapper .close:after {
  content: '\2212';
}

.table-wrapper .close.collapsed:after {
  content: '\002B';
}

.table-wrapper table {
  width: 100%;
  cursor: pointer;
}

/* Table containing icons in the first column, like weather&time. */
.table-with-icons table {
  table-layout: fixed;
}

.table-with-icons tr td:first-child {
  width: 0%;
  padding-left: 5px;
}

.table-with-icons tr td:nth-child(2) {
  padding-left: 0px;
}

td.v-top {
  vertical-align: top;
}
td.v-bottom {
  vertical-align: bottom;
}

.dark-panel-title {
  color: #bb86fc;
  font-weight: 600;
  padding: 5px;
  padding-bottom: 0px;
}

#player-params-table {
  padding-left: 5px;
}

#group-table td,
#group-table th,
#who-table td,
#who-table th {
  padding-left: 5px;
  padding-right: 5px;
}

#player-location .fa {
  font-size: 150%;
}

#player-affects-table .flexcontainer-column {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#questor-table p {
  padding: 4px 4px 0px 4px;
}

/* Control panel with buttons. */
#commands-table {
  justify-content: space-evenly;
  margin: 0px 0px 0px 5px;
}

/* Single button in the control panel . */
.btn-ctrl-panel {
  background-color: #bb86fc;
  color: #121212;
  font-size: 1.1em;
  border-color: transparent;
  width: 100%;
  margin-top: 3px;
  text-align: left;
}

.btn-ctrl-panel:hover {
  color: #fff;
  text-decoration: none;
  background-color: #8043ca;
}

/* Help search box. */
#help input {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  background-color: transparent;
  color: #fff;
  border: 1px solid #bb86fc;
  margin: 0.5rem 0.5rem 0.5rem 0.25rem;
  padding-left: 2rem;
  font-size: 1.1em;
}

/* Magnifier glass icon in the help search box. */
.form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* Autocomplete plugin styling for the help box. */
.autocomplete-suggestions {
  border: 0px solid #999;
  background: #121212;
  overflow: auto;
  cursor: pointer;
  color: #d3d7cf;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  overflow: auto;
  border-bottom: 0px solid;
}
.autocomplete-selected {
  background: #bb86fc;
  color: #121212;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

/*
 * Pop-up windows with hints about various layout elements.
 */
.hints .modal-content {
  color: #ddd;
}

/*
 * Add some space around main screen on all media sizes.
 */
.terminal-wrap {
  padding: 5px 10px 10px 10px;
}

/*
 * Draw distinct borders around elements on big screen. 
 * Make input box styled as the rest of the page components.
 */
@media only screen and (min-width: 768px) {
  .terminal-wrap {
    border: 1px solid #000;
  }
  #overlay {
    top: 3px;
  }
  form#input {
    border: 1px solid #bb86fc;

    background-color: #121212;
  }

  form#input input:focus {
    outline: none;
    box-shadow: none;
  }
  form#input input {
    padding: 4px 10px 4px 5px;
    color: #d3d7cf;
    border-color: transparent;
    background-color: transparent;
  }
}

/*
 * Settings and editors modal windows.
 */

/* === Базовые стили (по умолчанию — mobile) === */

#textedit-modal.webeditor .modal-content {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0 !important;
  border-radius: 0;
  display: flex;
  align-items: start;
  justify-content: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#textedit-modal.webeditor .modal-dialog {
  height: 100%;
  margin: 0;
}
#textedit-modal.webeditor .modal-content {
  height: 100%;
  border: 0px;
}

#textedit-modal.webeditor .modal-body {
  width: 100%;
  height: 90dvh;
  padding: 0;
}

#textedit-modal .save-button,
#textedit-modal .cancel-button,
#textedit-modal .voice-button {
  width: 100%;
  margin: 0;
  border: 0px;
  border: 0px;
  border-radius: 0px;
}

#textedit-modal .modal-footer {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  justify-content: center;
  gap: 0.5em;
  padding: 0px;
  border-top: 0px;
}

/* === Планшеты (600px и выше) === */
@media (min-width: 600px) {
  #textedit-modal.webeditor .modal-content {
    height: 80vh;
    min-width: 600px;
    width: 90vw;
    max-width: 900px;
    margin: 0 auto;
  }

  #textedit-modal.webeditor .modal-content {
    width: 90vw;
    min-width: 600px;
    width: 90vw;
    max-width: 900px;
  }

  #textedit-modal.webeditor .modal-body {
    padding: 10px 20px 0px 20px;
    height: 70vh;

    min-width: 600px;
    width: 90vw;
    max-width: 900px;
  }

  #textedit-modal .save-button,
  #textedit-modal .cancel-button,
  #textedit-modal .voice-button {
    width: auto;
    border-radius: 4px;
  }

  #textedit-modal .modal-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: end;
    gap: 0.5em;
    padding: 10px 20px;
  }
}

/* === Десктоп (1280px и выше) === */

@media (min-width: 1280px) {
  #textedit-modal.webeditor .modal-content {
    height: 80vh;

    width: 70vw;
    max-width: 1000px;
    margin: 0 auto;
  }

  #textedit-modal.webeditor .modal-content {
    width: 70vw;
    max-width: 1000px;
  }

  #textedit-modal.webeditor .modal-body {
    width: 70vw;
    max-width: 1000px;
    padding: 20px 30px 0px 30px;
  }
}

/* =================================================== */
.webeditor .modal-dialog {
  max-width: 100%;
}

.webeditor .modal-body {
  padding: 0px;
}

.webeditor .form-group {
  margin-bottom: 0px;
}

@media only screen and (min-width: 992px) {
  .webeditor .modal-dialog {
    max-width: 80%;
  }
}

.btn-ctrl {
  float: right;
  font-size: 1.5em;
  color: grey;
  border-color: grey;
  margin: 1px;
}

.top-right-buttons .btn-ctrl {
  margin: 0 0.2em;
}

.btn-ctrl:hover {
  background-color: #bb86fc;
  border-color: #bb86fc;
  color: #121212;
}

.editor {
  height: 70vh;

  background-color: black;
  color: white;
}

.modal-body .editor {
  font-size: 18px;
}

/*
 * Custom definition of flex with all the prefixes defined.
 */
/* Replacing flex wrap with stretching
/*
.flexcontainer-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}*/

.flex-grow-shrink-auto {
  -webkit-box-flex: 1 1 0%;
  -moz-box-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}

.flex-nogrow-shrink-panel {
  -webkit-box-flex: 0 1 270px;
  -moz-box-flex: 0 1 270px;
  -webkit-flex: 0 1 270px;
  -ms-flex: 0 1 270px;
  flex: 0 1 270px;
}

.flex-nogrow-shrink-control {
  -webkit-box-flex: 0 1 100px;
  -moz-box-flex: 0 1 100px;
  -webkit-flex: 0 1 100px;
  -ms-flex: 0 1 100px;
  flex: 0 1 100px;
}

.flexcontainer-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: flex-start;
}

.flexcontainer-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0px 5px 0px 0px;
  padding: 0px 0px 5px 0px;
}

/* dark: */
.fg-ansi-dark-color-0,
.fgdd {
  color: #2e3436;
} /* background  */
.fg-ansi-dark-color-1,
.fgdr {
  color: #cc0000;
} /* r */
.fg-ansi-dark-color-2,
.fgdg {
  color: #4e9a06;
} /* g */
.fg-ansi-dark-color-3,
.fgdy {
  color: #c4a000;
} /* y */
.fg-ansi-dark-color-4,
.fgdb {
  color: #3465a4;
} /* b */
.fg-ansi-dark-color-5,
.fgdm {
  color: #75507b;
} /* m */
.fg-ansi-dark-color-6,
.fgdc {
  color: #06989a;
} /* c */
.fg-ansi-dark-color-7,
.fgdw {
  color: #d3d7cf;
} /* w, d */
/* bright: */
.fg-ansi-bright-color-0,
.fgbd {
  color: #555753;
} /* D */
.fg-ansi-bright-color-1,
.fgbr {
  color: #ed2330;
} /* R */
.fg-ansi-bright-color-2,
.fgbg {
  color: #8ee34f;
} /* G */
.fg-ansi-bright-color-3,
.fgby {
  color: #fdea56;
} /* Y */
.fg-ansi-bright-color-4,
.fgbb {
  color: #55a3f2;
} /* B */
.fg-ansi-bright-color-5,
.fgbm {
  color: #d384cb;
} /* M */
.fg-ansi-bright-color-6,
.fgbc {
  color: #2cf4eb;
} /* C */
.fg-ansi-bright-color-7,
.fgbw {
  color: #fff;
} /* W */

.fg-ansi-bold {
  /*    font-weight: bold; */
}

/*
 * Item manip dropdowns
 */
.dropdown-toggle::after {
  display: none;
}
.dropdown-norelative {
  cursor: pointer;
}

.dropdown-toggle:hover {
  text-decoration: underline;
}

.dropdown-norelative .dropdown-toggle {
  white-space: pre;
}

/*
 * Text manip decorations for extra descrs: underlined white links.
 */
.manip-ed {
  text-decoration: underline;
  cursor: pointer;
  color: #eeeeec;
}

/*
 * Commands and hyper links: underlined.
 */
.manip-cmd,
.manip-link {
  text-decoration: underline;
  cursor: pointer;
}

.manip-link,
.manip-link span {
  color: lightgreen;
}
.manip-link:hover,
.manip-link:hover span {
  color: green;
}

.manip-speedwalk,
.manip-speedwalk span {
  color: #c4a000;
}
.manip-speedwalk:hover,
.manip-speedwalk:hover span {
  color: #fdea56;
}

.btn-orange:hover,
.btn-orange {
  border-color: #ff9900;
  letter-spacing: 0.05em;
}

.btn-orange:hover {
  background-color: #ff9900;
}

.btn-orange {
  color: #ff9900;
}

/*
 * User command is echoed back with a small anchor before it.
 */
.echo-with-anchor::before {
  content: '\25b8';
  padding-right: 0.1em;
  color: #bb86fc;
}
/*
 * Anchor sticks close to the border of the screen.
 */
.echo-with-anchor {
  margin-left: -5px;
}

#root .layout-splitter {
  width: 6px;
  background-color: transparent;
}

#root .layout-splitter:hover {
  background-color: #bb86fc;
}

/* Map higlighted room. */
.active {
  color: #2cf4eb;
  font-weight: 600;
}

/* Map header */
header.MuiPaper-root.MuiAppBar-root {
  background-color: #2e2e2e !important;
  max-width: calc(100% - 20px);
}
.MuiAppBar-colorDefault {
  color: #bb86fc;
  background-color: #2e2e2e !important;
}

.MuiTypography-body1 {
  font-weight: 600;
}

.main-splitter .layout-pane {
  display: flex;
}

.mosaic-window-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: black !important;
}

.mosaic-window-toolbar {
  display: none !important; /* Скрыть заголовки, если не нужны */
}

.mosaic-root {
  height: 100%;
}

@media (max-width: 1279px) {
  #map-wrap {
    display: none !important;
  }
}

@media (max-width: 599px) {
  #map-wrap,
  #panel-wrap {
    display: none !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.voice-button.mic-on {
  background-color: rgb(28, 187, 28);
  color: white;
}

.cmdinput-voice-controls {
  display: flex;
  align-items: center;
  background: #111;
  border: 1px solid #444;
  height: 100%;
  gap: 0.2em;
  padding: 0;
}

.cmdinput-voice-controls select,
.cmdinput-voice-controls button {
  background: #111;
  color: #ccc;
  border: none;
  padding: 0 0.2em;
  height: 100%;
  font-size: 1em;
  font-family: monospace;
  cursor: pointer;
}

.cmdinput-voice-controls select:hover,
.cmdinput-voice-controls button:hover {
  background: #222;
  color: #fff;
}

.cmdinput-voice-controls select:focus,
.cmdinput-voice-controls button:focus {
  outline: none;
  box-shadow: none;
}

.cmdinput-voice-controls button:active,
.cmdinput-voice-controls button.active {
  background: #222;
  color: lime;
}

.cmdinput-wrapper {
  padding: 8px 0;
  display: flex;
  gap: 0.1em;
}

#cmd-voice.mic-on {
  color: lime;
}

#cmd-voice-lang {
  font-size: 1em;
}
